[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RQEntangle"]
	path = RQEntangle
	url = https://github.com/stephenhky/rqentangle
